.about {
  padding: 120px 0;
  background-color: $main-bg;

  @include vp-1023 {
    padding: 100px 0;
  }
}

.about__container {}


.about__text {
  padding-top: 40px;
  padding-left: 60px;

  @include vp-1023 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 515px;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.about__titles {

  h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 48px;
    line-height: 58px;

    @include vp-1023 {
      margin: 0;
      font-size: 42px;
      line-height: 50px;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 27px;

    @include vp-1023 {
      margin-bottom: 35px;
    }
  }
}

.about__description {
  @include vp-1023 {
    p:last-child {
      display: none;
    }
  }
}

.about__image {
  flex-shrink: 0;
  float: right;
  margin-left: 80px;
}
