.about {
  padding: 120px 0 235px;
  background-color: $main-bg;

  @include vp-1023 {
    padding: 100px 0 183px;
  }

  @include vp-767 {
    padding: 65px 0 70px;
  }
}

.about__container {
  position: relative;
  display: grid;
  grid-template-columns: 415px 1fr;

  @include vp-1279 {
    display: flex;
    flex-direction: column;
  }

  @include vp-767 {
    align-items: center;
    padding: 0;
  }
}

.about__text {
  padding-top: 40px;
  padding-left: 60px;

  @include vp-1279 {
    padding: 0;
    text-align: center;
  }

  @include vp-1023 {
    margin: 0 auto 45px;
    max-width: 515px;
  }

  @include vp-767 {
    padding: 0 15px;
    text-align: left;
    margin-bottom: 30px;
  }

  p {
    margin-top: 0;
    margin-bottom: 8px;
  }
}

.about__titles {
  h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 48px;
    line-height: 58px;
    color: $color-default-white;

    @include vp-1023 {
      margin: 0;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      margin-bottom: 5px;
      font-size: 32px;
      line-height: 38px;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 27px;

    @include vp-1023 {
      margin-bottom: 30px;
    }

    @include vp-767 {
      margin-bottom: 25px;
    }
  }
}

.about__description {
  font-weight: 300;

  @include vp-1023 {

    p {
      margin-bottom: 0;
    }

    p:last-child {
      display: none;
    }
  }
}

.about__image {
  position: relative;
  margin-left: 85px;
  padding: 0 0 401px 0;
  max-width: 660px;
  width: 100%;
  order: 1;

  @include vp-1279 {
    margin-left: 0;
    max-width: 100%;
  }

  @include vp-1023 {
    margin-bottom: 0;
    padding-bottom: 345px;
  }

  @include vp-767 {
    margin-bottom: 40px;
    padding-bottom: 313px;
  }

  img {
    position: absolute;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

}

.about__video {
  position: absolute;
  bottom: 0;
  left: 50%;
  max-width: 364px;
  width: 100%;
  height: auto;
  transform: translate(-145px, 50%);
  z-index: 1;

  @include vp-1279 {
    left: 50%;
    transform: translate(-50%, 50%);
  }

  @include vp-1023 {
    max-width: 266px;
  }

  @include vp-767 {
    position: static;
    order: 2;
    transform: none;
    max-width: 100%;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 63%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  @include vp-1023 {
    padding-bottom: 62.5%;
  }

  @include vp-767 {
    padding-bottom: 52%;
  }
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
